<div class="header-container">
  <div class="menu">
    <%= link_to 'Combined filter', index_index_path %>
    <%= link_to 'Trusted filter', index_trusted_path %>
    <%= link_to 'Collaborative filter', index_collaborative_path %>
  </div>
  <div class="content">
    <% if logged? %>
        <span>Welcome, <%= current_user.name %></span>
        <%= link_to 'logout', index_logout_path %>
    <% else %>
        <%= link_to 'login', index_login_path %>
    <% end %>
  </div>
</div>